:root {
    color-scheme: light dark;

    --light-bg: ghostwhite;
    --dark-bg: rgb(0, 10, 43);

    --light-color: rgb(0, 0, 0);
    --dark-color: ghostwhite;
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

.corpus {
    color: light-dark(purple, magenta);
}

p {
    font-family: sans-serif;
}

.luna {
    color: light-dark(#332A6C,#5F3287);
}

/*
Ideas:
add character voicing? maybe?