:root {
    color-scheme: light dark;

    --light-bg: ghostwhite;
    --dark-bg: rgb(0, 10, 43);

    --light-color: rgb(0, 0, 0);
    --dark-color: rgb(201, 201, 201);
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

.corpus {
    color: light-dark(purple, rgb(216, 0, 216));
    font-weight: bold;
}

p {
    font-family: sans-serif;
}

.luna {
    color: light-dark(#332A6C,#5F3287);
    font-weight: bold;
}

/*
Ideas:
add character voicing? maybe?