/*
You aren't supposed to be here!
Spoilers for characters that appear, maybe, perhaps.
*/

:root {
    color-scheme: light dark;

    --light-bg: ghostwhite;
    --dark-bg: rgb(0, 10, 43);

    --light-color: rgb(0, 0, 0);
    --dark-color: rgb(201, 201, 201);
}

* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

.corpus {
    color: light-dark(purple, rgb(255, 124, 255));
    font-weight: bold;
}

p {
    font-family: sans-serif;
}

.luna {
    color: light-dark(#332A6C,#5F3287);
    font-weight: bold;
}

.ladyluck {
    color: light-dark(#a58812,#ebca46);
    font-weight: bold;
}

.spoiler {
  background-color: light-dark(var(--dark-bg), var(--light-bg));
  color: light-dark(var(--dark-color), var(--light-color));
}

.spoiler:hover {
    color: light-dark(var(--light-color), var(--dark-color));
}
/*
Center the navigation bit and the titles.
*/
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}